<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dashboard</title>
  <% include partials/head %>
</head>
<body class="bg-light">
 <% include partials/menu %>
  <!-- PRINCIPAL -->
  <div class="main p-2">
    <!-- CONTENEDOR -->
    <div class="container-fluid">
      <% include partials/indicadoresCMC %>
      <br>
      <div class="row">
        <!-- RIGTH -->
        <div class="col-md-8 pr-4">
          <%
          include partials/chartLine,
          include partials/WSMH
          %>
        </div>
        <!-- LEFTH -->
        <div class="col-md-4 pl-4">
          <% include partials/totalCapInv %>
          <br>
          <%
            include partials/totalNumOfOpe,
            include partials/tradingOpeGraph
          %>
        </div>
      </div>
    </div>
  </div>
  <% include partials/scripts %>
  </body>
</html>
