<!-- CHART LINE -->
<div class="row  bg-white shadow-sm d-flex">
  <div class="col-12 ml-2 mt-2">
    <h2 class="mt-2 row col-12">Profit / Loss</h2>
   </div>
  <div class="col-12">
    <canvas id="myChart" class="w-100 h-100 py-3"></canvas>
  </div>
</div>
