<!-- INDICADORES COINMARKETCAP -->
<div class="row shadow-sm bg-white border mt-3 mt-lg-2">
  <div class="col-6 col-sm-4 col-md-2 p-2 d-flex">
    <span style="font-size:2em; color:Tomato"><i class="fab fa-bitcoin"></i></span>
    <div class="ml-2">
      <ul class="list-unstyled mb-0">
        <li class="text-primary font-weight-bold" id="active_cryptocurrencies"></li>
        <li><small>Criptocurrencies</small></li>
      </ul>
    </div>
  </div>
  <div class="col-6 col-sm-4 col-md-2 p-2 d-flex">
    <span style="font-size:2em; " class="text-primary"><i class="fas fa-chart-line"></i></span>
    <div class="ml-2">
      <ul class="list-unstyled mb-0">
        <li class="text-primary font-weight-bold" id="active_markets"></li>
        <li><small>Market</small></li>
      </ul>
    </div>
  </div>
  <div class="col-6 col-sm-4 col-md-2 p-2 d-flex">
    <span style="font-size:2em; " class="text-success"><i class="fas fa-copyright"></i></span>
    <div class="ml-2">
      <ul class="list-unstyled mb-0">
        <li class="text-primary font-weight-bold" id="total_market_cap"></li>
        <li><small>Market Capital</small></li>
      </ul>
    </div>
  </div>
  <div class="col-6 col-sm-4 col-md-2 p-2 d-flex">
    <span style="font-size:2em; " class="text-info"><i class="fas fa-globe"></i></span>
    <div class="ml-2">
      <ul class="list-unstyled mb-0">
        <li class="text-primary font-weight-bold" id="total_volume_24h"></li>
        <li><small>24h Volume</small></li>
      </ul>
    </div>
  </div>
  <div class="col-6 col-sm-4 col-md-2 p-2 d-flex">
    <span style="font-size:2em; " class="text-warning"><i class="fas fa-coins"></i></span>
    <div class="ml-2">
      <ul class="list-unstyled mb-0">
        <li class="text-primary font-weight-bold">$NODEFINE</li>
        <li><small>Gold/Ounce</small></li>
      </ul>
    </div>
  </div>
  <div class="col-6 col-sm-4 col-md-2 p-2 d-flex">
    <span style="font-size:2em; " class="text-dark"><i class="fas fa-gas-pump"></i></span>
    <div class="ml-2">
      <ul class="list-unstyled mb-0">
        <li class="text-primary font-weight-bold">$NODEFINE</li>
        <li><small>Petroleum/Barrel</small></li>
      </ul>
    </div>
  </div>
</div>
