<!-- MENU DE NAVEGACION SUPERIOR -->
<nav class="navbar fixed-top navbar-expand navbar-dark bg-dark">
 <a href="#"><img src="images/no_avatar.png" alt="" class="rounded-circle" style="width: 27px; height: 27px;"></a>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
   <span class="navbar-toggler-icon"></span>
 </button>

 <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
   <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
     <li class="nav-item active">
       <a class="nav-link" href="#"><spam class="d-none d-sm-block">Message </span><span class="badge badge-secondary">9</span></a>
     </li>
     <li class="nav-item active">
       <a class="nav-link" href="#"><spam class="d-none d-sm-block">Notification </span><span class="badge badge-secondary">3</span></a>
     </li>
     <li class="nav-item active">
       <a class="btn-m" onclick="toggleSidebar();"><i class="fas fa-bars text-white"></i></a>
     </li>
   </ul>
 </div>
</nav>
<!-- MENU LATERAL IZQUIERDO -->
<div class="sidebar bg-primary">
 <ul class="nav flex-column">
   <li class="nav-item">
     <a class="nav-link " href="/Dashboard'"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="/WSMH"><i class="far fa-clock"></i> W.S.M.H</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="/Clients"><i class="fas fa-users"></i> Clients</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="/ProfitLoss"><i class="fas fa-dollar-sign"></i> Profit / Loss</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="/Inbox"><i class="fas fa-inbox"></i> Inbox</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="/Events"><i class="far fa-calendar-alt"></i> Events</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="/Others"><i class="fas fa-ellipsis-h"></i> Others</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="/Map"><i class="far fa-map"></i> Map</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="/Queue"><i class="far fa-plus-square"></i> Queue</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="/Notes"><i class="far fa-sticky-note"></i> Notes</a>
   </li>
   <br>
   <li class="nav-item ">
     <a class="nav-link" href="/Settings"><i class="fas fa-cog"></i> Settings</a>
   </li>
   <li class="nav-item ">
     <a class="nav-link" href="/Help"><i class="far fa-question-circle"></i> Help</a>
   </li>
   <li class="nav-item">
     <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Log out</a>
   </li>

 </ul>
</div>
