<!-- TRADING OPERATIONS GRAPH -->
<div class="row bg-white my-4 p-3 shadow-sm d-flex">
  <div class="col-12">
    <canvas id="myPie" class="w-100" style="height: calc(100vh - 37vh) !important;"></canvas>
  </div>
</div>
