<!-- WORLD STOCK MARKET HOURS -->
<div class="row my-3 bg-white shadow-sm d-flex">
  <div class="col-12">
     <h5 class="mt-4 mb-0 text-center"><strong>World Stock Market Hours</strong></h5>
  </div>
  <div class="col-md-5 ">
    <img src="<?= FOLDER_PATH ?>/style/images/World.png" alt="" class="w-100" srcset="<?= FOLDER_PATH ?>/style/images/World.svg" >
  </div>
  <div class="col-sm-6 col-md-4 m-auto d-flex justify-content-star">
    <ul class="list-unstyled">
      <li><h5><strong>Timing</strong></h5></li>
      <li><small><i class="fas fa-circle text-primary"></i> NYSE Opens in 6 Hours 28 Mins</small></li>
      <li><small><i class="fas fa-circle text-danger"></i> LONDON Opens in 6 Hours 28 Mins</small></li>
      <li><small><i class="fas fa-circle text-warning"></i> TOKYO Opens in 6 Hours 28 Mins</small></li>
      <li><small><i class="fas fa-circle text-success"></i> JAPAN Opens in 6 Hours 28 Mins</small></li>
      <li><small><i class="fas fa-circle text-info"></i> SYDNEY Opens in 6 Hours 28 Mins</small></li>
    </ul>
  </div>
  <div class="col-sm-6 col-md-3 m-auto d-flex justify-content-star">
    <ul class="list-unstyled">
      <li><h5><strong>Overlaps</strong></h5></li>
      <li><small>NYSE (9:30 AM - 4:00 PM)</small></li>
      <li><small>LONDON (8:00 AM - 4:30 PM)</small></li>
      <li><small>TOKYO (9:30 AM - 12:00 PM)</small></li>
      <li><small>JAPAN (9:00 AM - 11:30 AM)</small></li>
      <li><small>SYDNEY (10:00 AM - 4:00 PM)</small></li>
    </ul>
  </div>
</div>
